.card{
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 10px;

    
}
#plateau{
    display:  flex;
    flex-wrap: wrap;
    width: 53em;
}

.active{
    background-image: url('images/cards.png');
    /* background-position-y: 100px; */
}